
nav{
    z-index: 2;
}

.hero{
    min-height: 100vh;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
align-items: center;

}
.promo {
    position: relative;
    z-index: 2;
    color: white;
    
}
#video1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#video2{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: 0.5;
    mix-blend-mode: overlay;
}
.card{
    position: absolute;
    top: 0;
    width: 30%;
    
}
.card-body, h5, p{
    
    z-index: 2;
    color: white;
    
    /* color: aliceblue; no hereda bootstrap */ 
}
.card-body h5{
 
    color: white;
}
.card-body p{
 
    background-color: black;
    opacity: 0.5;

}